name: "Hackage, Cabal, Linux"

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: "45 02 * * *"

env:
  cabalConfig: --enable-tests --enable-benchmarks --disable-optimization --enable-deterministic

jobs:

  build10:
    name: "GHC"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc: [ "9.0", "8.8" ]
    steps:

      - name: "Git checkout"
        uses: actions/checkout@v2
        with:
          submodules: recursive
          
      - name: "Haskell env setup"
        id: HaskEnvSetup
        uses: haskell/actions/setup@v1
        with:
          ghc-version: ${{ matrix.ghc }}

      - name: "Install additional system packages"
        run: sudo apt install libsodium-dev

      #  2020-08-01: NOTE: Nix instantiate still needed for HNix tests
      - name: "Install Nix"
        uses: cachix/install-nix-action@v16

      - name: "Repository update"
        run: cabal v2-update

      # Freeze is for the caching
      - name: "Configuration freeze"
        run: cabal v2-freeze $cabalConfig

      - name: "Configuring GitHub cache"
        uses: actions/cache@v2
        with:
          path: |
            ${{ steps.HaskEnvSetup.outputs.cabal-store }}
            dist-newstyle
          key: ${{ runner.os }}-Cabal-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}
          restore-keys: ${{ runner.os }}-Cabal-${{ matrix.ghc }}-

      #  2022-01-06: NOTE: remove `--allow-newer hashable` after `relude` updates to `hashable` 1.4
      - name: "Build"
        run: cabal v2-build $cabalConfig --allow-newer hashable

      #  2022-01-06: NOTE: remove `--allow-newer hashable` after `relude` updates to `hashable` 1.4
      - name: "Tests"
        run: cabal v2-test $cabalConfig

      #  2022-01-06: NOTE: remove `--allow-newer hashable` after `relude` updates to `hashable` 1.4
      - name: "Haddock"
        if: ${{ matrix.ghc == '9.0' }}
        run: cabal v2-haddock $cabalConfig

      - name: "Source distribution file"
        if: ${{ matrix.ghc == '9.0' }}
        run: cabal v2-sdist
