name: "(On shedule) Nix dev env, macOS"
  # Due to macOS is a side-build to test the platform, using nixos-unstable for additional long-term stability of it
on:
  schedule:
    # Every Friday 22:45
    - cron: "45 22 * * 5"


env:
  cachixAccount: "hnix"
  CACHIX_SIGNING_KEY: ${{ secrets.CACHIX_SIGNING_KEY }}
  doCheck: "false"


jobs:
  build10:
    name: "Default GHC"
    runs-on: macos-latest
    continue-on-error: true
    steps:
    - name: "Git checkout"
      uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: "Install Nix"
      uses: cachix/install-nix-action@v17
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - name: "Install Cachix"
      uses: cachix/cachix-action@v10
      with:
        name: ${{ env.cachixAccount }}
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - name: "Determined Nix-build"
      run: ./build.sh
