name: "(Optional) Nix dev env, macOS"
  # Due to macOS is a side-build to test the platform, using nixos-unstable for additional long-term stability of it
on:
  # On Git changes in PR
  pull_request:
  # On Git changes of the master
  push:
    branches:
      - master
  schedule:
    # Every day at 04:45
    - cron: "45 01 * * *"


env:
  # rev: "nixos-unstable"         #  2020-09-29: NOTE: HNix default.nix currently pins the rev
  cachixAccount: "hnix"
  CACHIX_SIGNING_KEY: ${{ secrets.CACHIX_SIGNING_KEY }}


jobs:
  build10:
    name: "Default GHC (8.8)"
    runs-on: macos-latest
    continue-on-error: true
    steps:
    - name: Git checkout
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Install Nix
      uses: cachix/install-nix-action@v10
    - name: Install Cachix
      uses: cachix/cachix-action@v6
      with:
        name: ${{ env.cachixAccount }}
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - name: Determined Nix-build
      run: ./build.sh
